<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimpleCreationMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SimpleCreationMVC.styles.css" asp-append-version="true" />
    <link href="~/css/spinner.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-icons@1.11.3/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body>
    <div class="loading-overlay">
        <div class="spinner-border ml-2" role="status">
            <span class="sr-only"></span>
        </div>
        Loading...
    </div>

    <header>
        <nav class="navbar navbar-light bg-light p-3 d-flex justify-content-between">
            <div class="d-flex">
                <a class="navbar-brand">Simple Creationsss</a>
                <a class="nav-link" href="/">Generation</a>
                <a class="nav-link" href="#">DB Comparison</a>
            </div>
            <button id="system-download-btn" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Download">
                <i class="bi bi-download ml-1"></i> System
            </button>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="p-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-wrap  text-center inline-">

        &copy; 2024 Simple Creation | Developed by Criszon James Alcoba

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/sweetalert2@11.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>

</body>
</html>
