<div>
    <div class="row d-flex justify-content-center gap-2 mb-2">
        <label class="col-lg-10">Base Connection String</label>
        <input data-input="base-connection-string" class="col-lg-10">
       
    </div>
    <div class="row gap-2 d-flex justify-content-center mb-2">
        <label class="col-lg-10">Comparison Connection String</label>
        <input data-input="comparison-connection-string" class="col-lg-8">
        <button class="col-lg-2 btn btn-primary" id="generate-script-btn">Generate Script</button>
    </div>
    <div class="row d-flex justify-content-center" id="script-container">
    </div>
    
</div>

