@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row d-flex justify-content-center gap-2 mb-2">
        <label class="col-lg-10">Connection String</label>
        <input data-input="connectionString" class="col-lg-8">
        <button class="col-lg-2 btn btn-primary" id="generate-btn">Generate</button>
    </div>
    <div class="row gap-2 d-flex justify-content-center mb-2">
        <select id="select-option-download" class="col-lg-8">
        </select>

        <button class="col-lg-2 btn btn-primary" id="download-btn"><i class="bi bi-download"></i></button>
    </div>
    <div class="row gap-2 d-flex justify-content-center mb-2">
        <select id="table-filter-option" class="col-lg-8">
        </select>
        <button class="col-lg-1 btn btn-success" id="print-btn"><i class="bi bi-printer"></i></button>
        <button class="col-lg-1 btn btn-danger" id="pdf-btn"><i class="bi bi-file-pdf"></i></button>
    </div>

    <div id="table-schema-container" class="row gap-2 d-flex justify-content-center"> </div>
    <div id="document-container" style="display: none;"></div>
</div>
