@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
  
    <form>
        <div class="form-group">
            <label>Connection String</label>
            <input data-input="connectionString" class="form-control">
        </div>
      
    </form>
   

    <div id="botton-download-container" class="row gap-2 d-flex justify-content-center">

    </div>
</div>
